@font-face{
    font-family: "roboto";
    src: url(./fonts/Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}



ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root{
    --color-fill: #FFFFFF;
    --color-dark-blue: #212A2F;
    --border-radius: 2px;
}

body{
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

    color: var(--color-dark-blue);
    background-color: var(--color-fill);
}

a{
    color: var(--color-dark-blue);
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    padding-top: 21px;
    padding-bottom: 18px;
    flex-wrap: wrap;
}

.header-list{
    display: flex;
    align-items: center;
    column-gap: 33px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.14em;
    }
.header-action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}   
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.header-action__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.header-menu.left{
    margin-right: 223px; /*что бы лого встало в середину*/
}

@media(max-width: 430px){

    .header a{
        font-size: 17px;
    }
    
    .header-container{
        justify-content: start;
        flex-wrap: wrap;
        

    }
    .header-action__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .header-list{
        row-gap: 21px;
        flex-wrap: wrap;
    }
    .header-action{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        gap:12px;
        
    }
   .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
   }
   .header-menu.left{
    justify-content: start;
    flex-basis: 100%;
    
   }
}
@media(max-width: 870px){
    .header-menu.left{
        display: flex;
        margin-right: 1px;
    }
    .header-menu.left{
        margin-right: 33px;
        height: 35px;
    }
}


h1{
    font-size: 48px;
    letter-spacing: 0.01em;
    color: var(--color-fill);

}

.tooltip-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    background: url(./image/tooltip-background.png);
   
}
.tooltip-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 321px;
    margin-bottom: 207px;
   
}

.tooltip-paragraph{
    color: var(--color-fill);
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-top: 11px;

}

.tooltip-menu{
    display: flex;
    gap:24px;
    padding-bottom: 56px;

}

.tooltip-link__left{
    font-size: 14px;
    border-radius: var(--border-radius);
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background-color:var(--color-fill);
    padding: 16px 45.5px;
}

.tooltip-link__right{
font-size: 14px;
border-radius: var(--border-radius);
letter-spacing: 0.14em;
text-transform: uppercase;
background-color:var(--color-fill);
padding: 16px 32px;
}
@media(max-width: 1024px){
    .tooltip-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .tooltip-info{
        padding-top: 18px;
        margin-bottom: 11px;
    }

    h1{
        font-size: 24px;
    }  
}
@media(max-width:430px){
    .favorites-product__card_2{
        display: flex;
        flex-wrap: nowrap;
    }
    .favorites-product__card_1{
        display: flex;
        flex-wrap: nowrap;
    }
    .favorites-product__card_3{
        display: flex;
        flex-wrap: nowrap;
    }
}

.favorites-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top: 120px;
    background-color: var(--color-fill);
}

h2{
    font-size: 32px;
    letter-spacing: 0.02em;
}
.favorites-heading{
    padding-bottom: 32px;
}

.favorites-menu{
    padding-bottom: 12px;
}
.favorites-list{
    display: flex;
    justify-content: center;
    column-gap: 7vw;
    font-size: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;

}
/*.favorites-link{
    display: flex;
    flex-wrap: nowrap;}*/



.favorites-section__menu{
    flex-wrap: wrap;
}
.favorites-product{
    flex-wrap: wrap;
}

.favorites-item1{ /*позиционирование нижней линии */
    position: relative;
}
.favorites-item1::after{ /*позиционирование нижней линии */
    content: "";
    position:absolute;
    
    width: 8.54vw;
    height: 2px;
    left: 50%;
    bottom:-65%;
    transform: translateX(-50%);
    background: #000;
    }

.favorites-item2{
    position: relative;
}
.favorites-item2::after{
    content: "";
    position: absolute;
    width: 85.8vw;
    height: 2px;
    bottom:-75% ;
    left:50%;/*получилось центрировать (ответы)*/
    transform: translateX(-50%);/* как центрировать?*/
    /*transform: translateX(-50%); ведет отсчёт после элемента (after), поэтому вылезает за пределы*/
    background: #d3d4d5;
}



.favorites-border-bottom{
    background-color: #d3d4d5;
    width: 1236px;
    height: 2px;
}

.favorites-product{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    padding-top: 34px;
    margin-bottom: 120px;
}
.favorites-product__card_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 396px;
    height: 396px;
    background: url(./image/favorites-product-1.png)
}
.favorites-product__card_2{
    width: 396px;
    height: 396px;
    background: url(./image/favorites-product-2.png);
}
.favorites-product__card_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 396px;
    height: 396px;
    background: url(./image/favorites-product-3.png);
}
.favorites-product__link_men{
    padding: 16px 93px;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background-color: var(--color-fill);
    border-radius: var(--border-radius);

}
.favorites-product__link_women{
    padding: 16px 80px;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background-color: var(--color-fill);
    border-radius: var(--border-radius);
}

.favorites-product__description{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-left: 30px;
    gap: 10px;
}
.favorites-product__heading{
    font-size: 22px;
    letter-spacing: 0.02em;
    
    }
.favorites-product__liniya_little{
        width: 336px;
        height: 1px;
        background: #d3d4d5;
    }
.favorites-product__paragraph_svg{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
    padding-bottom: 22px;
    font-size: 14px;
    letter-spacing: 0.03em;

}

@media(max-width:1024px){
    .header-logo{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        order: -1;
    }
    .favorites-section__menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .favorites-product{
        justify-content: center;
        align-items: center;
    }
    .favorites-container{
        margin-top: 18px;
    }  
}
@media(max-width:430px){
    .favorites-product__card_1{
        width: 300px;
        height: 300px;
    }
    .favorites-product__card_2{
        width: 300px;
        height: 300px;
    }
    .favorites-product__card_3{
        width: 300px;
        height: 300px;
    }
    .favorites-product__liniya_little{
        width: 250px;
    }
}

.limited-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 120px;
}
.limited-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.limited-heading{
    padding-bottom: 18px;
}
.limited-paragraph{
    margin-bottom: 30px;
}
.limited-link{
    display: flex;
    gap:32px;
    margin-bottom: 120px;
}
.limited-link__man{
    border-radius: var(--border-radius);
    background-color: var(--color-dark-blue);
    font-size: 14px;
    color: var(--color-fill);
    padding: 16px 46px;
}
.limited-link__women{
    border-radius: var(--border-radius);
    background-color: var(--color-dark-blue);
    font-size: 14px;
    color: var(--color-fill);
    padding: 16px 32px;
}
@media(max-width:815px){
    .favorites-product{
        margin-bottom: 0px;
    }
}